main {
    background:lightblue; 
    width: 500px; height: 300px; margin: 0 auto;
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-around;
}
main h1 {
    font-size: 2rem; font-weight: 500; letter-spacing: -0.02em;
}
main h2 {}
main .height {
    display: flex; flex-flow: row nowrap;
}
main .height p {margin-right: 40px;}
main .height #user_height {}
main .weight {
    display: flex; flex-flow: row nowrap;
}
main .weight p {margin-right: 10px;}
main .weight p #user_weight {}
main #button {width: 100px; height: 30px;}
main .result {}
main .result p {}
main .result span {
    width: 400px; height: 40px; background:pink; display: block;
    text-align: center; 
}
